---
http_interactions:
- request:
    method: get
    uri: https://hn.algolia.com/api/v1/search?hitsPerPage=10&page=0&query=wonder%20woman%20superman&tags=story
    body:
      encoding: US-ASCII
      string: ''
    headers:
      From:
      - hnsearchnotebook.herokuapp.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a7f8b86ef23d1818427c82cfff2be19b"
    body:
      encoding: ASCII-8BIT
      string: '{"hits":[{"created_at":"2008-12-31T15:25:47.000Z","title":"S\u0026P
        ending ''08 around 900, thus... Summer of ''97 Thread","url":"","author":"time_management","points":2,"story_text":"With
        the S\u0026#38;P set to close at mid-June 1997 levels, I thought it might
        be appropriate to reminisce about the summer that was, the summer of ''97.\u003cp\u003eI
        was between 8th and 9th grade, at CTY (Carlisle first session, Lancaster second).
        CTY memories include: Don McLean''s \"American Pie\"... Scum: the Masquerade
        (a card game)... Bleem, the integer between 3 and 4... trying to hook up with
        a 15-point-7 year-old \"no more\" (no success;[...]
